html{ 
  scroll-behavior: smooth;
}

/* Text grow */
#sname {
    margin-top: 100px;
    margin-bottom: 100px;
    float:right;
}

#sname a {
    font-size: 18px;
    transition: all 500ms;
}
    
#sname a:hover {
    font-size:88px;
    padding-left: 10px;
    padding-right: 10px;
    font-size-adjust: 20px;
    opacity: 1;
}


/* Grow s*/
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

body {
  background-color: #F2F2F2;
  font-family: 'Zilla Slab', serif;
  padding: 50px;
}

.bluehex {
  color: #306DE3;
}

.blackcontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.dialogue-box {
  font-size: 22px;
  line-height: 1.4;
  color: white;
  max-width: 435px;
  position: absolute;
  top: 30%;
  left: 35%;
}

.no-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  padding:  7px 75px;
  background: #306DE3;
  border-radius: 5px;
  top: 35px;
  left: 30%;
  position: relative;
  border: 1px solid #fff;
}

.words-btn {
  display: inline-block;
  text-decoration: none;
  color: #306DE3;
  font-size: 18px;
  padding:  7px 50px;
  background: #306DE3;
  border-radius: 5px;
  top: 90%;
  left: 80%;
  position: absolute;
  border: 1px solid #306DE3;
  background: transparent;
}

.finalno-btn {
  display: inline-block;
  opacity: 23%;
  text-decoration: none;
  color: #306DE3;
  font-size: 18px;
  margin-top: 630px;
  margin-left: 100px;
  padding: 7px 50px;
  background: #306DE3;
  border-radius: 5px;
  top: 90%;
  left: 80%;
  position: absolute;
  border: 1px solid #306DE3;
  background: transparent;
}

.fade-in-text {
  display: inline-block;
  font-family: 'Zilla Slab', serif;
  font-size: 50px;
  width: 85%;
  height: 80%;
  padding-left: 50px;
  color: black;
  animation: fadeIn linear 3.5s;
  -webkit-animation: fadeIn linear 3.5s;
  -moz-animation: fadeIn linear 3.5s;
  -o-animation: fadeIn linear 3.5s;
  -ms-animation: fadeIn linear 3.5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.choose {
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 38px;
  padding-top: 300px;
  padding-bottom: 300px;
  font-family: 'Zilla Slab Highlight', cursive;
  color: f2f2f2;
}

/* note to self: margin-left originally
480 but 200 seems to offset whatever hvr-grow
is doing to the layout */

.thankyou {
  max-width: 80%;
  font-size: 38px;
  margin-top: -600px;
  margin-left: 200px;
  padding-bottom: 500px;
  font-family: 'Zilla Slab Highlight', cursive;
  color: #FA1AC4;
}

.sorry {
  max-width: 80%;
  font-size: 38px;
  margin-top: -520px;
  margin-left: 140px;
  padding-bottom: 500px;
  font-family: 'Zilla Slab Highlight', cursive;
  color: red;
}

.maybe {
  max-width: 80%;
  font-size: 38px;
  margin-top: -350px;
  margin-left: 220px;
  padding-bottom: 500px;
  font-family: 'Zilla Slab Highlight', cursive;
  color: #18CD0F;
}

.feeling {
  max-width: 80%;
  font-size: 38px;
  margin-top: -700px;
  margin-left: 830px;
  padding-bottom: 500px;
  font-family: 'Zilla Slab Highlight', cursive;
  color: blue;
}

.bottom {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 300px;
  color: f2f2f2;
}

/* Inner page Navigation */

.noDecoration {
  text-decoration: none;
}


a:link {
  text-decoration: none;
}

.blacklink {
  color: black;
}

.redlink {
  color: red;
}

.greenlink {
  color: #18CD0F;
}

.pinklink {
  color: #FA1AC4;
}

.bluelink {
  color: blue;
}

nav {
  text-decoration: none;
  padding-top: 10%;
  display: flex;
  font-family: 'Zilla Slab', serif;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0%;
  position: relative;
}

/* Sorry page */

.sorryhl {
  color: red;
  font-weight: 700;
  font-family: 'Zilla Slab Highlight', cursive;
}

.sorryheader {
  max-width: 80%;
  font-size: 80px;
  font-family: 'Zilla Slab Highlight', cursive;
  color: red;
}

.sorryopts {
  max-width: 80%;
  font-size: 60px;
  font-family: 'Zilla Slab', serif;
  color: red;
}

.sorryexplain {
  display: inline-block;
  max-width: 35%;
  text-decoration: none;
  font-size: 25px;
  margin-left: 60%;
  padding-right: 15%;
  margin-top: 10%;
  font-weight: ;
}

/* Maybe Page */

.maybehl {
  color: #18CD0F;
  font-weight: 700;
  font-family: 'Zilla Slab Highlight', cursive;
}

.maybeheader {
  max-width: 80%;
  font-size: 80px;
  font-family: 'Zilla Slab Highlight', cursive;
  color: #18CD0F;
}

.maybeopts {
  max-width: 80%;
  font-size: 60px;
  font-family: 'Zilla Slab', serif;
  color: #18CD0F;
}

.maybeexplain {
  display: inline-block;
  max-width: 35%;
  text-decoration: none;
  font-size: 25px;
  margin-left: 60%;
  padding-right: 15%;
  margin-top: 10%;
}

/*Thank You page */

.thankhl {
  color: #FA1AC4;
  font-weight: 700;
  font-family: 'Zilla Slab Highlight', cursive;
}

.thankheader {
  max-width: 80%;
  font-size: 80px;
  font-family: 'Zilla Slab Highlight', cursive;
  color: #FA1AC4;
}

.thankopts {
  max-width: 80%;
  font-size: 60px;
  font-family: 'Zilla Slab', serif;
  color: #FA1AC4;
}

.thankexplain {
  display: inline-block;
  max-width: 35%;
  text-decoration: none;
  font-size: 25px;
  margin-left: 60%;
  padding-right: 15%;
  margin-top: 10%;
}

/* Not feeling it page */

.feelinghl {
  color: blue;
  font-weight: 700;
  font-family: 'Zilla Slab Highlight', cursive;
}

.feelingheader {
  max-width: 80%;
  font-size: 80px;
  font-family: 'Zilla Slab Highlight', cursive;
  color: blue;
}

.feelingopts {
  max-width: 80%;
  font-size: 60px;
  font-family: 'Zilla Slab', serif;
  color: blue;
}

.feelingexplain {
  display: inline-block;
  max-width: 35%;
  text-decoration: none;
  font-size: 25px;
  margin-left: 60%;
  padding-right: 15%;
  margin-top: 10%;
}

/* Final No Page */

.nohl {
  color: black;
  font-weight: 700;
  font-family: 'Zilla Slab Highlight', cursive;
}

.noheader {
  max-width: 80%;
  font-size: 500px;
  line-height: 10%;
  font-family: 'Zilla Slab', serif;
  color: black;
}

.noexplain {
  max-width: 60%;
  text-decoration: none;
  font-size: 25px;
  margin-left: 25%;
  padding-right: 25%;
  margin-top: 0%;
}



